#logging.level.org.springframework.web=DEBUG
logging.level.com.veridu=DEBUG
server.address=0.0.0.0
server.port=8080
#server.ssl.key-store=classpath:tomcat.keystore
#server.ssl.key-store-password=cassio
#server.ssl.key-password=cassio
logging.file=morpheus-spring.log
morpheus.http.user=cassio
morpheus.http.password=god